@font-face {
  font-family: 'coolvetica';
  src: url('../fonts/coolveti.ttf');
}

@font-face {
  font-family: 'avenir_light';
  src: url('../fonts/AvenirLTStd-Light.otf');
}

@font-face {
  font-family: 'avenir_light_italic';
  src: url('../fonts/AvenirLTStd-LightOblique.otf');
}

@font-face {
  font-family: 'avenir_heavy';
  src: url('../fonts/AvenirLTStd-Heavy.otf');
}

@media (orientation: portrait){
	#hidden{
		display: none;
		position: fixed;
		width: 74vw;
		z-index: 100;
	}

	.x_close{
		position: absolute;
		right: 1em;
		top:1em;
	}

	#chocolate_bar{
		background-image: url("../images/img5.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		height: 24vh;
		width: 100%;
	}

	#home_ensamble{
		bottom: -78%;
		margin-left: 6vw;
		position: relative;
	}

	#home_ensamble p{
		color: #FFF;
		display: inline;
		font-family: avenir_heavy;
		font-size: 1.5em;
		letter-spacing: -1px;
		margin-left: 0.3em;
	}

	#chocolate_bar img{
		display: inline;
		height: 4vh;
	}

	#menu{
		background-color: rgba(255,255,255,0.95);
		height: 43vh;
		padding-top: 1vh;
	}

	#menu ul{
		list-style-type: none;
	}

	#menu li{
		align-items: center;
		display: flex;
		flex-direction: row;
		font-family: 'avenir_light';
		height: 7vh;
		text-align: left;
	}

	#menu li:hover{
		background-color: pink;
	}

	#menu li img{
		display: inline;
		height: auto;
		margin-bottom: 1px;
		margin-left: 7vw;
		margin-right: 5px;
		width: 5vw;
	}

	.a_h{
		color: #FFF;
		font-family: "avenir_heavy";
		padding: 0.2em;
		text-align: center;
	}

	.a_l_i{
		color: #FFF;
		font-family: "avenir_light_italic";
		text-align: center;
	}

	.a_l_i_black{
		color: #000 !important;
		font-family: "avenir_light_italic" !important;
		font-size: 2vh !important;
		text-align: justify !important;
		text-justify: inter-word !important;
	}

	.center{
		align-items: center;
		display: flex;
		flex-flow: column;
		justify-content: center;
	}

	.bronw_banner{
		background-color: #400E08; 
	}

	header {
		background-color: #400E08;
		display: flex;
		height: 10%;
		justify-content: space-between;
		width: 100%;
		z-index: 99;
	}

	section{
		background-color: #FFF;
		z-index: 7;
	}

	.right_nav{
		margin-right: 3vw;
		margin-top: 2vh;
	}

	#hamburger {
		height: auto;
		margin-left: 3vw;
		margin-top: 2.5vh;
		width: 5vw;
	}

	#logo {
		height: 15vh;
		margin-left: 15vw;
		margin-top: 1vh;
		z-index: 99;
	}

	#dollar {
		height: auto;
		margin-left: 2.5vw;
		margin-top: 3vh;
		width: 5vw;
	}

	#language_tag {
		height: auto;
		margin-left: 2.85vw;
		width: 6vw;
	}

	article {
		background-repeat: no-repeat;
		background-size: cover;
		display: flex;
		flex-flow: row wrap;
		height: 100%;
		justify-content: center;
		z-index: 8;
	}

	#sec1{
		width: 100%;
	}

	#background_sec1{
		background-image: url("../images/img1.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}

	#line2{
		color: #F08DAB;
	}

	#top_art{
		height: 68vh;
	}

	#right_aside1 {
		align-items: center;
		background-color: rgba(255,255,255,0.7);
		display: flex;
		height: 68vh;
		justify-content: center;
		position: absolute;
		right: 0px;
		width: 50vw;
	}

	#text_1{
		height: auto;
		margin: auto;
		padding-top: 5%;
		width: 85%;
	}

	#text_1 p{
		font-family: coolvetica;
		font-size: 6vw;
		text-align: center;
	}

	#text_1 img{
		display: inline;
		width: 1.8em;
	}

	#left_aside1 {
		background-color: rgba(66,66,66,0.7);
		left: 0px;
		position: absolute;
		width: 50%;
	}

	#arrow_1 {
		height: auto;
		margin-bottom: 0.4em;
		width: 6vw;
	}

	.line{
		border-bottom: 0.1em solid #3E1719;
		margin: 1em auto;
		width: 65%;
	}

	#container_sec2{
		display: flex;
		flex-direction: row;
		justify-content: center;
		min-height: 40vh;
	}

	#left_aside2{
		background-image: url("../images/img2.jpg");
		background-repeat:no-repeat;
		background-size: cover;
		display: flex;
		width: 50%;
	}

	#right_aside2{
		background-image: url("../images/img3.jpg");
		background-repeat:no-repeat;
		background-size: cover;
		display: flex;
		width: 50%;
	}

	#foot_sec2{
		background-color: #D9D9D9;
		color: #400E08;
		font-family: coolvetica;
		font-size: 4.3vh;
		min-height: 14vh;
		width: 100%;
	}

	.foot_sec3{
		background-color: #3E1719;
		display: block;
		padding: 0.5em 0;
	}

	#container_last_foot{
		align-items: center;
		display: flex;
		justify-content: space-around;
		width: 100%;
	}

	#line_v{
		border-right: 0.1em solid white;
		display: inline-block;
		height: 15vh;
		margin-right: 6%;
		margin-top: 1%;
	}

	#social_icons {
		display: inline-block;	
		margin-right: 3%;
		margin-top: 2%;
		width: 30%;
	}

	.social_icon{
		display: inline-block;
		height: auto;
		width: 100%;
	}

	.ico_cont{
		display: inline;
		float: left;
		height: auto;
		margin-right: 5%;
		width: 20%;
	}

	#email{
		color: #FFF;
		display: none;
		font-family: "avenir_light";
		font-size: 0.2vh;
	}

	.foot_sec3 p{
		bottom: 1.5vh;
		color: #FFF;
		font-size: 0.9em;
		margin-top: 1em;
		position: relative;
		text-align: center;
	}

	.text_block{
		font-family: avenir_light;
		margin-bottom: 2.2vh;
		text-align: justify;
		width: 65%;
	}

	.cont_logo{
		display: inline-block;
		padding: 0em 0;
		width: 35%;
	}

	#letrero_y{
		border: 2px solid yellow;
		color: yellow;
		font-family: "coolvetica";
		margin: auto;
		padding: 5% 6%;
	}

	#letrero_p{
		border: 2px solid pink;
		color: pink;
		font-family: "coolvetica";
		margin: auto;
		padding: 5% 6%;
	}

	#logo_foot{
		height: auto;
		width: 100%;
	}

	footer{
		align-items: center;
		background-color: #400E08;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.right_nav p{
		font-family: "avenir_light";
		color: #FFF;
	}

	a{
		text-decoration: none;
	}

	main{
		z-index: -99;
	}

	.art_std{
		background-color: #FFF;
	}

	.art_std h2{
		color: #400E08;
		font-family: "coolvetica";
		font-size: 1.7em;
		margin-top: 8vh;
	}

	.art_std p{
		font-family: "avenir_light";
		font-size: 1em;
		margin-bottom: 1.2em;
		text-align: justify;
		text-justify: inter-word;
		width: 65%;
	}

	.art_line{
		border-bottom: 1px solid #000;
		height: 1px;
		margin: 2.5vh auto;
		width: 75%;
	}

	.one_pic{
		background-image: url("../images/img4.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		display: flex;
		height: auto;
		width: 100%;
	}

	.one_pic img{
		height: auto;
		margin-top: 1vh;
		width: 37vw;
	}

	.c{
		border: 0.1em solid;
		color: #6EC6E2 ;
		display: block;
		font-family: "coolvetica";
		font-size: 7vw;
		margin: 8vh auto 2vh;
		padding: 0.4em 0;
		text-align: center;
		text-shadow: 2px 2px #1A1616;
		width: 35%;
	}

	#seg_cont{
		display: flex;
		flex-direction: row;
		width: 100vw;

	}

	#seg_y{
		background-color: yellow;
		height: 1vh;
		width: 50%;
	}

	#seg_p{
		background-color: pink;
		height: 1vh;
		width: 50%;
	}

	#foot_sec2{
		background-color: #D9D9D9;
		color: #400E08;
		color: white;
		font-family: coolvetica;
		font-size: 4.3vh;
		min-height: 14vh;
		width: 100%;
	}

	.blue_line{
		background-color: #7CC9DD;
		height: 1vh;
		width: 100vw;
	}

	.big_icons{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		margin: 0 15vw 8vh;
		width: 70vw;
	}

	.big_icons img{
		height: auto;
		width: 30%;
	}

	.dropping{
		height: auto;
		margin-bottom: 2vh;
		position: absolute;
		width: 100%;
		z-index: 9;
	}

	.target{
		align-items: center;
		background-color: #D9D9D9;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		font-family: "coolvetica";
		height: 10vh;
		justify-content: space-around;
		width: 100vw;
	}

	.target p{
		color: #400E08;
		font-size: 3vh;
	}

	.target_status{
		align-items: center;
		border: 3px solid pink;
		color: #400E08;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.target_status p{
		color: #F00;
	}

	.target img{
		display: inline;
		width: 2.6em;
	}

	#goal span{
		color: green;
		font-size: 4vh;
	}

	.arrows{
		font-family: "coolvetica";
		font-size: 5vh;
		color: grey;
	}

	#goal_status{
		font-size: 1vh;
	}

	#telf{
		color: #FFF;
		display: none;
		font-family: "avenir_light";
		font-size: 1vh;
	}

	#address{
		color: #FFF;
		display: none;
		font-family: "avenir_light";
		font-size: 1vh;
	}

	#management{
		color: #FFF;
		display: none;
		font-family: "avenir_light";
		font-size: 1vh;
	}
}

@media (orientation: landscape ){
	#hidden{
		display: none;
		position: fixed;
		width: 74vw;
		z-index: 100;
	}

	.x_close{
		position: absolute;
		right: 1em;
		top:1em;
	}

	#chocolate_bar{
		background-image: url("../images/img5.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: 24vh;
	}

	#home_ensamble{
		position: relative;
		bottom: -78%;
		margin-left: 6vw;
	}

	#home_ensamble p{
		color: #FFF;
		display: inline;
		font-family: avenir_heavy;
		font-size: 1.5em;
		margin-left: 0.3em;
		letter-spacing: -1px;
	}

	#chocolate_bar img{
		height: 4vh;
		display: inline;
	}

	#menu{
		background-color: rgba(255,255,255,0.95);
		height: 36vh;
		padding-top: 1vh;
	}

	#menu ul{
		list-style-type: none;

	}

	#menu li{
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 7vh;
		text-align: left;
		font-family: 'avenir_light';
	}

	#menu li:hover{
		background-color: pink;
	}

	#menu li img{
		display: inline;
		width: 5vw;
		height: auto;
		margin-left: 7vw;
		margin-bottom: 1px;
		margin-right: 5px
	}

	.a_h{
		color:#FFF;
		font-family: avenir_heavy;
		padding: 0.2em;
		text-align: center;
	}

	.a_l_i{
		font-family: avenir_light_italic;
		text-align: center;
		color:#FFF;
	}

	.center{
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
	}

	.bronw_banner{
		background-color: #400E08; 
	}

	header {
		display: flex;
		justify-content: space-between;
		width: 100%;
		height: 10%;
		background-color: #400E08;
		z-index: 99;
	}

	section{
		background-color: #FFF;
		z-index: 7;
	}

	.right_nav{
		margin-top: 2vh;
		margin-right: 3vw;
	}

	#hamburger {
		width: 5vw;
		height: auto;
		margin-top: 2.5vh;
		margin-left: 3vw;
	}

	#logo {
		margin-top: 1vh;
		height: 15vh;
		margin-left: 15vw;
		z-index: 99;
			}

	#dollar {
		width: 5vw;
		height: auto;
		margin-left: 2.5vw;
		margin-top: 3vh;
	}

	#language_tag {
		width: 6vw;
		height: auto;
		margin-left: 2.85vw;
	}

	article {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 100%;
		z-index: 8;
	}

	#sec1{
		width: 100%;
	}

	#background_sec1{
		background-image: url("../images/img1.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}

	#line2{
		color: #F08DAB;
	}

	#top_art{
		height: 68vh;
	}

	#right_aside1 {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgba(255,255,255,0.7);
		position: absolute;
		width: 50vw;
		height: 68vh;
		right: 0px;
	}

	#text_1{
		width: 85%;
		height: auto;
		margin: auto;
		padding-top: 5%;
	}

	#text_1 p{
		font-family: coolvetica;
		font-size: 6vw;
		text-align: center;
	}

	#text_1 img{
		display: inline;
		width: 1.8em;
	}

	#left_aside1 {
		background-color: rgba(66,66,66,0.7);
		position: absolute;
		width: 50%;
		left: 0px;
	}

	#arrow_1 {
		width: 6vw;
		height: auto;
		margin-bottom: 0.4em;
	}

	.line{
		border-bottom: 0.1em solid #3E1719;
		width: 65%;
		margin: 1em auto;
	}

	#container_sec2{
		display: flex;
		flex-direction: row;
		justify-content: center;
		min-height: 40vh;
	}

	#left_aside2{
		display: flex;
		background-image: url("../images/img2.jpg");
		background-repeat:no-repeat;
		background-size: cover;
		width: 50%;
	}

	#right_aside2{
		display: flex;
		background-image: url("../images/img3.jpg");
		background-repeat:no-repeat;
		background-size: cover;
		width: 50%;
	}

	#foot_sec2{
		background-color: #D9D9D9;
		color: #400E08;
		color: white;
		font-family: coolvetica;
		font-size: 4.3vh;
		min-height: 14vh;
		width: 100%;
	}

	.foot_sec3{
		background-color: #3E1719;
		display: block;
		padding: 0.5em 0;
	}

	#container_last_foot{
		align-items: center;
		display: flex;
		justify-content: space-around;
		width: 100%;
	}

	#line_v{
		border-right: 0.1em solid white;
		display: inline-block;
		height: 15vh;
		margin-right: 6%;
		margin-top: 1%;
	}

	#social_icons {
		display: inline-block;	
		margin-right: 3%;
		margin-top: 2%;
		width: 30%;
	}

	.social_icon{
		display: inline-block;
		height: auto;
		width: 100%;
	}

	.ico_cont{
		display: inline;
		float: left;
		height: auto;
		margin-right: 5%;
		width: 20%;
	}

	.foot_sec3 p{
		bottom: 1.5vh;
		color: #FFF;
		font-size: 0.9em;
		margin-top: 1em;
		position: relative;
		text-align: center;
	}

	.text_block{
		font-family: avenir_light;
		margin-bottom: 2.2vh;
		text-align: justify;
		width: 65%;
	}

	.cont_logo{
		display: inline-block;
		padding: 0em 0;
		width: 35%;
	}

	#letrero_y{
		border: 2px solid yellow;
		color: yellow;
		font-family: "coolvetica";
		margin: auto;
		padding: 5% 6%;
	}

	#letrero_p{
		border: 2px solid pink;
		color: pink;
		font-family: "coolvetica";
		margin: auto;
		padding: 5% 6%;
	}

	#logo_foot{
		height: auto;
		width: 100%;
	}

	footer{
		align-items: center;
		background-color: #400E08;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.right_nav p{
		color: #FFF;
		font-family: "avenir_light";
	}

	a{
		text-decoration: none;
	}

	main{
		z-index: -99;
	}

	.art_std{
		background-color: #FFF;
	}

	.art_std h2{
		color: #400E08;
		font-family: "coolvetica";
		font-size: 1.7em;
		margin-top: 8vh;
	}

	.art_std p{
		font-family: "avenir_light";
		font-size: 1em;
		margin-bottom: 1.2em;
		text-align: justify;
		text-justify: inter-word;
		width: 65%;
	}

	.art_line{
		border-bottom: 1px solid #000;
		height: 1px;
		margin: 2.5vh auto;
		width: 75%;
	}

	.one_pic{
		background-image: url("../images/img4.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		display: flex;
		height: auto;
		width: 100%;
	}

	.one_pic img{
		height: auto;
		margin-top: 1vh;
		width: 37vw;
	}

	.c{
		border: 0.1em solid;
		color: #6EC6E2 ;
		display: block;
		font-family: "coolvetica";
		font-size: 7vw;
		margin: 8vh auto 2vh;
		padding: 0.4em 0;
		text-align: center;
		text-shadow: 2px 2px #1A1616;
		width: 35%;
	}

	#seg_cont{
		display: flex;
		flex-direction: row;
		width: 100vw;
	}

	#seg_y{
		background-color: yellow;
		height: 1vh;
		width: 50%;
	}

	#seg_p{
		background-color: pink;
		height: 1vh;
		width: 50%;
	}

	#foot_sec2{
		background-color: #D9D9D9;
		color: #400E08;
		color: white;
		font-family: coolvetica;
		font-size: 4.3vh;
		min-height: 14vh;
		width: 100%;
	}

	.blue_line{
		background-color: #7CC9DD;
		height: 1vh;
		width: 100vw;
	}

	.big_icons{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		margin: 0 15vw 8vh;
		width: 70vw;
	}

	.big_icons img{
		height: auto;
		width: 30%;
	}

	.dropping{
		height: auto;
		margin-bottom: 2vh;
		position: absolute;
		width: 100%;
		z-index: 9;
	}

	.target{
		align-items: center;
		background-color: #D9D9D9;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		font-family: "coolvetica";
		height: 10vh;
		justify-content: space-around;
		width: 100vw;
	}

	.target p{
		color: #400E08;
		font-size: 3vh;
	}

	.target_status{
		align-items: center;
		border: 3px solid pink;
		color: #400E08;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.target_status p{
		color: #F00;
	}

	.target img{
		display: inline;
		width: 2.6em;
	}

	#goal span{
		color: green;
		font-size: 4vh;
	}

	.arrows{
		color: grey;
		font-family: "coolvetica";
		font-size: 5vh;
	}

	#goal_status{
		font-size: 1vh;
	}

	#email{
		color: #FFF;
		font-family: "avenir_light";
		font-size: 1vh;
	}

	#telf{
		color: #FFF;
		font-family: "avenir_light";
		font-size: 1vh;
	}

	#address{
		color: #FFF;
		font-family: "avenir_light";
		font-size: 1vh;
	}

	#management{
		color: #FFF;
		font-family: "avenir_light";
		font-size: 1vh;
	}
}
