#pink_coffee {
	background-image: url(../images/img7a.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 28vh;
	width: 100%;
}

section h1 {
	font-family: "coolvetica";
	font-size: 5.25vh;
	letter-spacing: 2px;
	margin-top: 2vh;
	text-align: center;
}

.dropping {
	position: relative;
}

#brown_heart {
	display: flex;
	background-image: url(../images/img8.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 28vh;
	width: 100%;
}

#brown_heart p{
	border: 2px solid #FAEC43;
	color: #FAEC43;
	font-family: "coolvetica";
	padding: 1em;
	width: 33%;
	margin: auto;
	text-align: center;
}

.yellow_line {
	background-color: #FAEC43;
	height: 1.5vh;
	width: 100%;
}