.dropping {
	position: relative;
}

.one_icon_center_top {
	display: flex;
	justify-content: center;
	margin-top: 8vh;
}

.one_icon_center {
	display: flex;
	justify-content: center;
}

#blue_line {
	background-color: #339CC7;
	height: 1.5vh;
	line-height: 0;
	width: 100vw;
}

#brown_line {
	background-color: #400E08;
	height: 1.5vh;
	width: 100vw;
}

.power {
	align-items: center;
	background-color: #FFF;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	height: 12vh;
	justify-content: flex-end;
}

.power p {
	color: #400E08;
	font-family: "coolvetica";
	font-size: 3.8vh;
	margin-bottom: 2vh;
}

#hidded {
	display: none;
}